SECRET_KEY=9a4b8c7d6e5f4g3h2i1j0k9l8m7n6o5p4q3r2s1t0u
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/mydb
REDIS_URL=redis://redis:6379/0